POSTGRES_DB=litalia
POSTGRES_USER=litalia
POSTGRES_PASSWORD=

NEXT_PUBLIC_SITE_URL=http://localhost:3000
DATABASE_URL=

AUTH_SECRET=
CRON_SECRET=
RESEND_API_KEY=
EMAIL_FROM="L’Italia Barber <noreply@jystem.com>"

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FIRST_NAME=
ADMIN_LAST_NAME=
ADMIN_PHONE=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=